name: Build and Deploy

# prevent concurrent runs of the same workflow on the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - no-branch-yet
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "public/**"
      - "styles/**"
      - ".dockerignore"
      - "pnpm-lock.yaml"
      - "Dockerfile"
      - "*config.*"

  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "NOTION_PAGE_ID=${{ vars.NOTION_PAGE_ID }}" >> .env
          cat .env

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image and push to Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ vars.DOCKER_IMAGE_NAME }}:latest
            ${{ vars.DOCKER_IMAGE_NAME }}:${{ github.sha }}
          platforms: linux/amd64
          # set up cache for all layers
          cache-from: type=registry,ref=${{ vars.DOCKER_IMAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKER_IMAGE_NAME }}:buildcache,mode=max
